.container {
    min-height: 100vh;
    background-color: var(--color-bg);
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contentArea {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.main {
    flex: 1;
    overflow-y: auto;
    padding: 0 40px 40px 100px;
}